<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Editando Cliente</title>
</head>
<body>
	<h1>Editando Cliente</h1>

	
	<h:form>
	<h:panelGrid columns="2">
		<h:outputLabel value="id do cliente" for="idCliente" />
		<h:inputText id="idCliente" />
	
	
		<h:outputLabel value="Nome do cliente" for="nomeCliente" />
		<h:inputText id="nomeCliente" />

		<h:commandButton action="list" value="salvar" />
		<h:commandButton action="list" value="Cancelar" />
	</h:panelGrid>
		
	</h:form>
</body>
</html>