<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Listando Cliente</title>
<style>
table {
	width: 500px;
	border: 1px solid #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 1em;
	
}
</style>
</head>
<body>
	<h1>Listando Cliente</h1>
	<h:form>
		<table>
			<tr>
				<td>Id</td>
				<td>Nome</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>1</td>
				<td>Pelé</td>
				<td><h:commandButton action="list" value="x"></h:commandButton></td>
				<td><h:commandButton action="edit" value="E"></h:commandButton></td>
			</tr>
			<tr>
				<td>2</td>
				<td>Maradona</td>
				<td><h:commandButton action="list" value="x"></h:commandButton></td>
				<td><h:commandButton action="edit" value="E"></h:commandButton></td>
			</tr>
		</table>
	</h:form>

</body>
</html>